:root {
	--bg-color: #f3efec;
	--text-color: #312a4e;
	--accent-color: #ffab6b;
	--main-font: Raleway, sans-serif;
	--accent-font: 'STIX Two Text', serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

.page {
	margin: auto;
	color: var(--text-color);
	font-family: var(--main-font);
	background-color: var(--bg-color);
	min-inline-size: 360px;
	max-inline-size: 1440px;
}

.heading {
	font-family: var(--accent-font);
	font-weight: 600;
	font-style: normal;
	line-height: 90%;
	text-align: center;
}

.header {
	padding-block-start: 10%;
}

.header__title {
	margin-block-end: 40px;
	font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content-section {
	padding: 0 5vi;
}

.content__title {
	margin-block-start: 7%;
	margin-block-end: 2.5%;
	font-size: 30px;
}

.content__text-block {
	font-size: 18px;
}

.content__paragraph:not(:last-child) {
	margin-block-end: 1.5em;
}

.content__link {
	color: currentColor;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
	margin: 0;
}
